{% extends "base.html" %}
{% block title %}Start page{% endblock %}
{% block containercontent %}
<h2>Reduce the amount of people you follow on twitter!</h2>
<p>To get the last interactions of the people you follow, please login in to twitter</p><br>
<p>The program will immediately start getting the last interactions after logging in, and may take up to a minute. Please be patient.</p>
<a href=start>
    <img src="https://cdn.cms-twdigitalassets.com/content/dam/developer-twitter/auth-docs/sign-in-with-twitter-gray.png.img.fullhd.medium.png">
</a>
{% endblock %}