:root {
	--body-color: #222;
	--editor-bg: #333;
	--editor-text: #fff;
	--border-color: #444;
	--viewer-bg: #555;
}
[data-theme="dark"]{
	--body-color: #222;
	--editor-bg: #333;
	--editor-text: #fff;
	--border-color: #444;
	--viewer-bg: #555;
}
[data-theme="light"]{
	--body-color: #bdc3c7;
	--editor-bg: #fff;
	--editor-text: #000;
	--border-color: #ddd;
	--viewer-bg: #fff;
}
body {
	overflow: hidden; 
	font-family: Arial, sans-serif;
	tab-size: 4;
	margin: 0;
	overflow: hidden;
	background-color: var(--body-color); /* #222 dark mode, #bdc3c7 light mode */
	color: white;
	/*background-image: linear-gradient(to right, #333, #666, #333);*/
}
* {
	margin: 0;
}
button {
	background-color: white;
	color: black;
}	
.main {
	width: 100%;
	height: 92vh; /* Dynamic screen height */
	margin-bottom: 0px;
	display: inline-flex;
}
.main * {
	border-radius: 2px;
	min-width: 50px;
	margin: 10px;
	width: 100%;
	height: 100%;
	border: 1px solid var(--border-color);
	min-height: 50px;
	outline: none;
}
#editor-textarea {
	overflow: auto;
	white-space: nowrap;

	background-color: var(--editor-bg); /* #333 dark mode, #fff light mode */
	height: 98.8%;
	color: var(--editor-text);
	padding: 5px;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace; /* Monospace */
	resize: none;
	/*background-image: linear-gradient(to right, #333, #666);*/
}
#viewer {
	background-color: var(--viewer-bg); /* #555 dark mode, #fff light mode */
	/*background-image: linear-gradient(to right, #666, #333);*/
}

#buttons {
	text-align: center;
	margin: -10px 0px 0px 0px;
}
h1 {font-size: 24px;}
.medium {font-size: 16px;}
.small {font-size: 12px;}
.mini {font-size: 8px;}
.no-margin {margin: 0px}
.mini-margin {margin: 5px;}
.no-padding {padding: 0px;}
.middle {text-align: center;}
@media screen and (max-height: 810px){
	.main {height: 90vh;}
}
#file {display: none;}
#filesMenu {margin-left: 10px;}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover */
.dropbtn {
  background-color: #555;
  margin-top: 10px;
  outline: none;
  color: white;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  margin-right: -5px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #999;
  min-width: 184px;
  box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.25s ease;
}
.dropdown-content hr {
	margin: 5px;
	border-radius: 50px;
	border-width: 2px;
	border: 1px solid white;
}
.dropdown-content a:hover {background-color: #777;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown .dropbtn {transition: 0.25s ease}
.dropdown:hover .dropbtn {background-color: #777}