/* Site structure?? */
body {
	background-color: darkslategray;
	color: white;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	font-family: "Arial";
	font-size:18px;
    margin: 0px;
}
pre, a, h1, h2 {margin-left: 10px}
p {margin-left: 10px}
a:link {color: rgb(255, 230, 0);}
a:visited {color: rgb(255, 230, 0);}
a:hover {color: rgb(255, 230, 20);}
a:active {color: rgb(235, 180, 0);}

/*{font-family: "Arial", "Helvetica", sans-serif}*/
hr {color: white;}
/*@import url('https://css.gg/c');*/
/* Animations */
@keyframes appear {
    from {margin-left: -2500px;}
    to {margin-left: 0px;}
}
.all-animation {
    animation: appear;
    animation-duration: 0.25s;
}
.header-and-nav {
	position: fixed;
    margin-left: 5px;
}
/* top navigation!!!!! refer to nav.css */
@keyframes hover {
    from {background-color: black;color:rgb(255,230,0);}
    to {background-color: gray; color:cadetblue;}
}
@keyframes unhover {
    from {background-color: gray;color:cadetblue}
    to {}
}
@keyframes active {
    from {}
    to {color: brown;}
}
.nav {
    align-items: center;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    background-color: black;
    list-style-type: none;
    padding: 1px 1px 5px 0px;
}
li a {
    background-color: white;
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: black;
    animation: unhover;
    animation-duration: 0.5s;
    float: left;
}
li a:hover {
    color: cadetblue;
    background-color: gray;
    animation: hover;
    animation-duration: 0.5s;
}
li a:active {
    color:brown;
    animation: active;
    animation-duration: 0.25s;
}

@media screen and (max-width: 150px) {
    body {font-size: 10px;}
    li a, .nav {width: 100%;}
    .nav {padding-bottom: 75px}
}
@media screen and (max-width: 800px) {
    li a, .nav {width:100%;float:top;padding: 1px 0px 10px 0px;margin-top: 3px}
     .nav {padding-right: 5px;padding-bottom: 133px;margin-top: 0px;} 
}
@media screen and (min-width: 1030px) {
    li a {margin-left: 6px;}
}
@media screen and (min-width: 1450px) {
    li a {margin-left: 8px;}
    body {font-size: 20px;}
}
