/* Body can change background color and text color */
body {
	background-color: black;
	color: white;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
}
p {
    font-family: "Arial", "Helvetica", sans-serif;
	font-size:18px;
}
/* Hyperlink and achors stuff */
a:link {
	color:blue;
}
a:clicked {
	color: red;
}
a:visited {
	color:black;
}
/*a {font-family: "Arial", "Helvetica", sans-serif}*/

/* Texts */
h1 {
	font-family: "Arial", "Helvetica", sans-serif;
}
h2 {
	font-family: "Arial", "Helvetica", sans-serif;
}
h3 {
	font-family: "Arial", "Helvetica", sans-serif;
}
h4 {
	font-family: "Arial", "Helvetica", sans-serif;
}
h5 {
	font-family: "Arial", "Helvetica", sans-serif;
}
h6 {
	font-family: "Arial", "Helvetica", sans-serif;
}
/* Other stuff */
hr {
	color: white;
}
/* Classes, applying styles to specific text without fiddling around the HTML file */
/*.class {stuff}*/
/*@import url('https://css.gg/c');*/

/* Animations */
@keyframes appear {
    from {color: gray; margin-left: -2500px;}
    to {color:white; margin-left: 0px;}
}
/*@keyframes disappear {
    from {color: white; margin-left: 0px}
    to {color:gray; margin-left: 2500px}
}*/
.all-animation {
    animation: appear;
    animation-duration: 0.25s;
    background-color: gray;
}