:root {
    --text-primary: #b6b6b6;
    --text-secondory: #ececec;
    --bg-primary: #23232e;
    --bg-secondory: #141418;
}
.navbar {
    transition: width 250ms ease;
    hyphens: none;
    width: 5rem;
    height: 100vh;
    position: fixed;
    padding-bottom: 30px !important;
    background-color: #23232e;
    text-decoration: none;
}
.navbar-nav {
    list-style: none !important;
    margin-left: -40px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.nav-item {
    width: 100%;
}
.nav-item:last-child {
    height: auto;
}
.navbar .link-text {
    display: none;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none !important;
}
.link-text {
    display: none;
    margin-left: 1rem
}
.nav-link svg {
    min-width: 1.5rem;
    margin: 0 1.5rem;
}
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 4rem;
    }
    .navbar-nav {
        flex-direction: row;
        margin-bottom: 10px;

        overflow-x: scroll;
        overflow-y: none;
    }
    .nav-link {
        justify-content: center;
    }
    .navbar ~ * {
        margin: 0;
        margin-top: 20px;
    }
    main {
        padding-bottom: 5rem;
    }
}
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar-nav {
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline;
        transition: opacity 200ms;
    }
    main {
        margin-left: 5.5rem;
    }
}