@keyframes hover {
    from {}
    to {background-color: gray; color:cadetblue;}
}
@keyframes unhover {
    from {background-color: gray;color:cadetblue}
    to {}
}
@keyframes active {
    from {}
    to {color: brown;}
}
.gg-close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition-duration: 0.5s;
    padding-top: 60px;
    margin-top: 0px;
    padding-left: 0px;
    
    overflow-wrap: none;
    word-wrap: none;
    hyphens: none;
}
.nav li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
    
    overflow-wrap: none;
    width: 200px;
    word-wrap: none;
    hyphens: none;
}
.nav li a:hover {
    animation: hover;
    animation-duration: 0.5s;
    background-color: gray; 
    color:cadetblue;
}
.nav li a:active {
    animation: active;
    animation-duration: 0.5s;
    background-color: gray;
    color:cadetblue
}