---
---

body {
    hyphens: none;
}

:root {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.navbar {
    bottom: 0;
    width: 100vw;
    height: 3rem;
    position: fixed;
    padding-bottom: 30px !important;
    background-color: #23232e;
    text-decoration: none;
}

main {
    margin: 0 auto;
    margin-bottom: 5.1rem !important;
    width: clamp(30ch, 91%, 75ch);
    line-height: 1.7em;
}

.navbar-nav {
    list-style: none !important;
    margin-left: -40px !important;
    display: flex;
    align-items: center;
    overflow: auto;
    flex-direction: row;
    margin-top: 3px;
    overflow-x: auto;
    overflow-y: none;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.navbar .link-text {
    display: none;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none !important;
    justify-content: center;
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 1.5rem;
    margin: 0 1.5rem;
    width: 24px;
    height: 24px;
}
